<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--
       1.mybatis可以使用properties来引入外部配置文件
       resource:引入类路径下的资源
       url:引入网络路径或磁盘路径下的资源
-->
    <properties resource="dbconfig.properties" />
    <!--对mybatis进行的设置-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <!--为某一个java类型起别名,默认别名为类名小写typeAlias
            type:bean的全类名
        -->
<!--        <typeAlias type="com.atguigu.mybatis.bean.Admin" alias="admin"/>-->
        <!--批量起别名package
            name:指定包名(为当前包下所有的后代包的每一个类都起默认别名)
        -->
        <package name="com.atguigu.mybatis.bean"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <!--暂时性的配置,整合spring后使用spring配置-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/AdminMapper.xml"/>
<!--        <mapper class="com.atguigu.mybatis.mapper.AdminMapperAnnotation" />-->
<!--        <package name="com.atguigu.mybatis.mapper"/>-->
    </mappers>
</configuration>